# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
venv/
.env/
.env.*

# ======================
# VS Code
# ======================
.vscode/
.history/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Logs
# ======================
*.log

# ======================
# Secrets / API keys
# ======================
*.key
*.pem
secrets.*


